<!-- <h1>Letters#game</h1>
<p>Find me in app/views/letters/game.html.erb</p>
 -->

<container>
  <row>
    <div class="col-sm-12">
      <h2>Random letters</h2>
        <ul class="list-inline">
          <% @grid.each do |letter| %>
            <li><%= letter.first %></li>
          <% end %>
        </ul>
        <p>----------------------------------------</p>
    </div>
  </row>
  <row>
    <div class="col-sm-3">
      <form action="/score" method="get">
        <div class="form-group">
          <label for="question">Write your answer bellow</label>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" id="question" name="word" placeholder="what time is it?">
        </div>
        <div class="form-group">
          <input type="hidden" name="random_grid" value="<%= @grid.flatten %>">
          <input type="hidden" name="start_time" value="<%= @start_time %>">
          <input type="submit" class="btn btn-primary" value="Go on!">
        </div>
      </form>
    </div>
  </row>
</container>

